.product-card.min{ 
    width: 20rem; 
    height: 20rem;

    padding: 10px 20px 20px 20px;
    .media-container{
        height: 200px;
    }
}
.product-card{ 
    width: 100%;
    margin: 10px 10px 10px 10px;
}
